.notifications-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.notifications-header h1 {
    margin: 0 0 15px 0; 
}


.notif-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; 
}

.notif-divider {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #b0b0b0;
    padding: 0 4px;
    line-height: 1;
}

.notif-btn {
    background: none;
    border: none;
    color: #08141ec8;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.notif-btn:hover {
    text-decoration: underline;
}

.notif-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
}

.notif-icon-btn:hover {
    background: #ededed;
}

.notification-card {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.15s ease;
    border: none;                 
}

.notification-card:hover {
    background: #efefef;
}

.notif-icon {
    font-size: 32px;
    margin-right: 15px;
}

.notif-content {
    display: flex;
    flex-direction: column;
}

.notif-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 4px 0;
    color: #2b2b2b;
}

.notif-message {
    font-size: 14px;
    color: #555;
    margin: 0 0 3px 0;
}

.notif-time {
    font-size: 13px;
    color: #777;
    margin-top: 0px;
}

.not-cont {
    background: #f7f7f7;
    border-radius: 6px;
}


.empty-notifs {
    text-align: center;
    padding: 40px 20px;
    margin-top: 30px;
}

.empty-notifs-img {
    width: 120px;
    margin-bottom: 20px;
}

.empty-notifs h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.empty-notifs p {
    color: #6b6b6b;
    font-size: 14px;
    margin-bottom: 20px;
}

.empty-btn {
    background: #e6ebf5;
    border: none;
    padding: 10px 28px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.empty-btn:hover {
    background: #d8dce5;
}
