.btn {
  /* min-width: 120px; */
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  background-color: #e5ebee;
  border: none;
  color: #000;
}
.btn:hover {
  background-color: #d0d6d8;
}
.btn:active {
    background-color: rgb(168, 173, 176);
}