
.available-topics-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.available-topics-title {
    color: var(--text-quaternary);
    font-size: 14px;
    font-weight: 600;
    text-align: start;
    margin-inline-start: 0.25rem;
}

.available-topics-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.available-topic-name {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    gap: 0.25rem;
    padding: 0.6rem;
    border-radius: 999px;
    border: none;
    height: auto;
    min-height: 2.5rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.available-topic-name span {
    display: inline-flex;
    align-items: center;
}

.available-topic-name .remove-topic-icon {
    color: var(--text-quaternary);
    fill: var(--text-quaternary);
}

.available-topic-name.selected {
    background-color: var(--bg-hover);
}

.available-topic-name:hover {
    background-color: var(--bg-hover);
}

.remove-topic-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.remove-topic-icon {
    color: var(--text-quaternary);
    font-size: 12px;
    font-weight: 600;
}