.custom-button {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    height: auto;
    min-height: 2.5rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}

.custom-button:disabled {
    background-color: var(--disabled-bg);
    color: var(--disabled-text);
    cursor: not-allowed;
    opacity: 0.6;
  }
  
.custom-button:disabled:hover {
    background-color: var(--disabled-bg);
}

.custom-button.small {
    font-size: 12px;
    padding: 0 0.625rem;
    gap: 0.5rem;
    box-sizing: border-box;
    height: 2rem;
    min-height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.custom-button.icon {
    background-color: transparent;
    padding: 0.25rem;
    flex-shrink: 0;
    min-height: 1rem;
}

.blue-button {
    background-color: #115bca;
    color: #FFFFFF;
}

.custom-button:hover {
    background-color: var(--bg-hover);
}

.blue-button:hover {
    background-color: #1870F4;
}

.blue-button:disabled {
    background-color: var(--disabled-bg);
    color: var(--disabled-text);
    cursor: not-allowed;
    opacity: 0.6;
}

.blue-button:disabled:hover {
    background-color: var(--disabled-bg);
}
