.custom-button {
    background-color: #2a3236;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: none;
    height: auto;
    min-height: 2.5rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}

.custom-button:disabled {
    background-color: #FFFFFF0C;
    color: #FFFFFF3F;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
.custom-button:disabled:hover {
    background-color: #FFFFFF0C;
}

.custom-button.small {
    font-size: 12px;
    padding: 0 0.625rem;
    gap: 0.5rem;
    box-sizing: border-box;
    height: 2rem;
    min-height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.custom-button.icon {
    background-color: transparent;
    padding: 0.25rem;
    flex-shrink: 0;
    min-height: 1rem;
}

.blue-button {
    background-color: #115bca;
    color: #FFFFFF;
}

.custom-button:hover {
    background-color: #333D42;
}

.blue-button:hover {
    background-color: #1870F4;
}

.blue-button:disabled {
    background-color: #FFFFFF0C;
    color: #FFFFFF3F;
    cursor: not-allowed;
    opacity: 0.6;
}

.blue-button:disabled:hover {
    background-color: #1a1e20;
}
