.toggle-button {
    background: #2A3236;
    border-radius: 624.9375rem;
    box-shadow: inset 0 0.0625rem 0.125rem 0 #00000021;
    height: 2rem;
    vertical-align: middle;
    width: 3rem;
    padding: 0.125rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: background-color 0.3s;
    contain: strict;
    cursor: pointer;
}

.toggle-button.true {
    background: #115BCA;
}

.toggle-button-circle {
    background: #ffffff;
    border-radius: 624.9375rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 1px 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(2rem - (0.125rem * 2));
    position: absolute;
    transform: translateX(0px);
    transition-duration: 0.3s;
    transition-property: transform, width;
    width: calc(2rem - (0.125rem * 2));
    color: #000000;
}

.toggle-button-circle.true {
    transform: translateX(calc( 3rem - calc(2rem - (0.125rem * 2)) - (0.125rem * 2)));
}
