/* body {
    background-color: #0e1113;
} */

.modal-container {
    background-color: #181C1F;
    box-sizing: border-box;
    padding: 1rem;
    width: auto;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 1rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    margin: 0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 8px 30px;
}

.description-container {
    display: flex;
    flex-direction: column;
}

h2 {
    color:#b7cad4;
    font-size: 24px;
    font-weight: 700;
    text-align: start;
    margin: 1em 0 .5em;
}

.modal-body {
    padding: 0;
}

h3 {
    color:#b7cad4;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
    margin: 8px 0px;
    padding-left: 8px;
}

.description-text {
    color: #acacac;
    font-weight: 400;
    font-size: 14px;
    text-align: start;
    margin: 0;
}

.button-container {
    background-color: rgba(0,0,0,0);
    display: block;
    margin-top: 1em;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    position: relative;
}

.progress-dots-container {
    display: flex;
    height: 0.75rem;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 0.625rem;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;

}

.progress-dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #ffffff33;    
}

.current-page-indicator {
    background-color: #FFFFFF;
}

.footer-buttons-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
}

.community-page-content {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.community-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}