.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.previewCircle {
  width: 120px;
  height: 120px;
  background: #f4a261;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  overflow: hidden;
}

.uploadIcon {
  font-size: 30px;
}

.uploadText {
  color: #444;
  padding: 7px 12px;
  background-color: #d8dde3;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.fileInput {
  display: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel, .save {
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.cancel {
  border: none;
  background: #f6f7f8;
}

.save {
  background: #0079d3;
  color: white;
  border: none;
}

.cancel:hover {
  background: #bdbcbc;
}

.save:hover {
  background: #006cc1;
}
