.overview {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  align-self: stretch;
}

/* Filter bar */
.overview__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #f6f7f8;
  border-radius: 12px;
  cursor: pointer;
}

.filter-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #181c1f;
  font-size: 14px;
  font-weight: 500;
}
.filter-left span {
    text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

/* Create post */
.overview__create {
  display: flex;
  align-items: center;
  gap: 8px;
}

.create-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 999px;
  border: 1px solid #0000007F;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  transition: border 0.1 ease;
}
.create-btn:hover {
    border: 1px solid #000000f0;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 999px;
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* Item */
.overview-item {
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 8px;
}

/* Posts */
.overview__posts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.sort-dropdown {
  position: relative;
  display: inline-block;
}

.sort-dropdown__button {
  padding: 10px 12px;
  border-radius: 999px;
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.1s ease;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #5c6c74;
  min-width: 70px;
}

.sort-dropdown__button:hover {
  background: #dbe4e9;
}

.sort-dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 8px 0;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  min-width: 90px;
}

.sort-dropdown__option {
  padding: 15px 16px;
  cursor: pointer;
  font-size: 14px;
  color: #181c1f;
  transition: background-color 0.1s ease;
}

.sort-dropdown__option:hover {
  background-color: #f8f9fa;
}

.sort-dropdown__option.selected {
  background-color: #e5ebee;
  color: #000;
  font-weight: 500;
}
.sort-dropdown__option.selected:hover {
  background-color: #e5ebee;
  color: #000;
  font-weight: 500;
}

.sort-dropdown__option:hover {
  background-color: #f8f9fa;
} 

.sort-dropdown__header {
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 600;
  color: #333d42;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: default;
  margin-bottom: 4px;
}
