auth-flow-modal {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 650px;
  padding: 2rem;
}

.quit-login-button {
  background-color: #B7CAD4;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: none;
  width: 23px;
  height: 23px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  display: inline-flex;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.quit-login-button svg {
  width: 16px;
  height: 16px;
  display: block;
}


.log-in-modal {
  background-color: #181C1F;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: fit-content;
  overflow: visible;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  margin: 50px, 100px;
  position: relative; /* Add this for absolute positioning of close button */
}

.log-in-modal-text {
  color: #B7CAD4;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin: 1em 0 1em;
}

.log-in-modal .log-in-modal-title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 1em 0 .5em;
}

.LogIn-button {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 350;
  color: #181C1F;
  border: none;
  /* position: relative; */
}

.LogIn-button img,
.LogIn-button svg {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.LogIn-button span {
  flex: 1;
  text-align: center;
}

.logos{
  width: 2px;
  height: 2px;
}

.log-in-modal-content {
  width: 55%;
}

.or-divider {
  position: relative;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 0 1rem;
}

.or-divider-line {
  width: 100%;
  border: none;
  border-top: 1px solid #323131;
  margin: 0;
}

.or-divider-text {
  position: absolute;
  /* background-color: #181C1F; */
  color: #B7CAD4;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 500;
}

.text-field {
  background-color: #B7CAD4;
  width: 55%;
  margin: 10px 0;
  display: block;
}

.or-divider-text{
  color:#B7CAD4
}

.text-fields-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.log-in-modal-other-links {
    align-self: left;
    text-align: left;
    width: 55%;    
    margin-bottom: 16px;
}

.forgot-password-link{
    color: #B7CAD4;
    font-size: 14px;
    text-align: left;
}

.signup-prompt{
    color: #B7CAD4;
    font-size: 14px;
    text-align: left;
}
a{
    text-decoration: none;
    color: #648EFC;
}
a:hover{
    text-decoration: underline;
}

.LogIn-button.disabled {
  background-color: #24282b;
  cursor: not-allowed;
  opacity: 0.6;
}

/* .LogIn-button.disabled:hover {
  background-color: #333D42;
} */
 .login-action-button{
    color: White;
    background-color: #D93900;
 }
.log-in-button-text{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.log-in-button-text.disabled {
  color: #8E8E93;
  font-size: 16px;
  font-weight: 600;
}
