.profile-page {
    display: flex;
    flex-direction: column;
    
}
.profile-header {
    display: flex;
    /* align-items: flex-start; */
    gap: 16px;
    padding: 16px 24px 16px 0px;
    flex-direction: column;
    margin-bottom: 12px;
    margin-left: 0;
}
.profile-content {
    display: flex;       
    align-items: center;
    gap: 16px;
}

.profile-content > div {
    display: flex;       
    flex-direction: column;
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.profile-header h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.profile-header span {
    display: block;
    color: #7c7c7c;
    font-size: 14px;
    margin-top: 2px;
}
.profile-tabs {
    display: flex;
    margin-top: 20px;
    gap: 8px;
    
}

.profile-tabs button {
    background: none;
    border: none;
    padding: 10px 16px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
    color: #181C1F;
    cursor: pointer;
    transition: background 0.1s ease;
}

.profile-tabs button:hover {
    text-decoration: underline;
}

.profile-tabs button.active {
    background-color: #c9d7de;
}

/* Main */

.profile-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
