.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background: #fff;
  padding: 24px;
  width: 500px;
  border-radius: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.dropZone {
  border: 2px dashed #ccc;
  border-radius: 12px;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.dropHover {
  border-color: #0057ff;
  background: #eef5ff;
}

.fileInput {
  display: none;
}

.dropContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.uploadBtn {
  pointer-events: auto;
  border: none;
  background: #e6eef8;
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.uploadBtn:hover {
    background: #d2d9e3;
}

.hintRow {
  position: absolute;
  bottom: 10px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel {
  background: #f6f7f8;
  border: none;
  padding: 10px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1 ease;
}

.cancel:hover {
    background: #bdbcbc;
}

.save {
    background: #0079d3;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1 ease;
}

.save:hover {
    background: #006cc1;
}
