
.community-maturity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin: 0.25em;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.community-type-container.selected {
    background-color: #333D42;
}

.community-maturity-icon {
    color: #ffffff;
}

.community-maturity-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    flex: 1;
    min-width: 0;
}

.community-maturity-heading {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    margin: 0;
    padding: 0;
}

.community-type-divider {
    border-style: solid;
    border-color: rgb(0 0 0 / 0.2);
    border-width: 1px;
    margin: 1rem 0;
    width: 100%;
    height: 0px;
    margin-bottom: 0.75rem;
}

.community-maturity-container:active {
    background: #333D42;
}

.reddit-rules-text {
    color: #748791;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    margin: 0;
    padding: 0;
}
