.search-container {
    flex-grow: 1;
    display: flex;
    background-color: var(--bg-tertiary);
    align-items: center;
    position: relative;
    gap: 0.5rem;
    box-shadow: 0 0 0 0.125rem transparent;
    box-sizing: border-box;
    border-radius: 624.9375rem;
    border: 0.125rem;
    padding: 10px 4px 10px 16px;
    color: var(--text-primary);
    font-size: 14px;
}

.search-input {
    background-color: transparent;
    color: var(--text-quaternary);
    border: none;
    padding: 8px 0px;
    border-radius: 0.5rem;
    font-size: 14px;
    flex: 1;
    width: 100%;
    outline: none;
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: var(--text-quaternary);
}

.search-icon {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 600;
}

.selected-topics-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.selected-topic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--bg-primary);
    padding: 0.25rem 0.625rem;
    border: 0.0625rem solid var(--border-light);
    border-radius: 4px;
    height: 2rem;
}

.selected-topic-name {
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.remove-topic-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}