.community-banner-container, .community-icon-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.community-banner-controls, .community-icon-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    width: 100%;
}

.community-banner-title, .community-icon-title {
    color: var(--text-quaternary);
    font-size: 14px;
}

.community-banner-button, .community-icon-button {
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--bg-tertiary);
    border: none;
    border-radius: 999px;
    padding: 0 0.625rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
    height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.community-banner-button:hover, .community-icon-button:hover {
    background-color: var(--bg-hover);
}

.community-image-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline-offset: -1px;
    color: var(--text-quaternary);
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    width: 100%;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
    border-color: var(--border-secondary);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.community-image-filename {
    color: var(--text-tertiary);
    font-size: 12px;
    font-weight: 400;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    min-width: 0;
}

.community-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.community-icon-image {
    width: 48px;
    height: 48px;
    border-radius: 999px;
    object-fit: cover;
    display: block;
}


.community-summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-direction: row;
    min-width: 0;
    width: 100%;
}

.community-icon-svg {
    color: #D93900;
    fill: var(--text-primary);
    width: 48px;
    height: 48px;
}

.community-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #D93900;
    border-radius: 999px;
    cursor: pointer;
    flex-shrink: 0;
}

.community-icon-wrapper:hover {
    background-color: #AE2C00;
}

.community-summary-data {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
    gap: 0.5rem;
    position: relative;
    text-align: start;
    padding: 1rem;
    overflow: hidden;
}

.community-summary-name {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.community-summary-stats {
    color: var(--text-quaternary);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.community-summary-description {
    color: var(--text-secondary);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.community-banner-wrapper {
    background-color: #fceee8;
    width: calc(100% + 2rem);
    min-height: 32px;
    max-height: 40px;
    box-sizing: border-box;
    display: block;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1rem;
    margin-bottom: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden; /* Prevent content from expanding beyond */
}